In [6]:
import pandas as pd

In [11]:
data = ['dheena', 'arun', 'mani']
lables = ['first', 'second', 'third']

In [9]:
series = pd.Series(data)

In [10]:
series

0    dheena
1      arun
2      mani
dtype: object

In [27]:
series = pd.Series(data, index = lables)

In [28]:
series

first     dheena
second      arun
third       mani
dtype: object

In [29]:
series['first']

'dheena'

In [30]:
series['second']

'arun'

In [31]:
data = [1,2,3]

data2 = [4,5,6]

lables = ['first', 'second', 'third']

In [32]:
data = pd.Series(data)
data2 = pd.Series(data2)

In [33]:
data
data2

0    4
1    5
2    6
dtype: int64

In [34]:
data

0    1
1    2
2    3
dtype: int64

In [35]:
data2

0    4
1    5
2    6
dtype: int64

In [36]:
data2 - data

0    3
1    3
2    3
dtype: int64

In [37]:
data - data2

0   -3
1   -3
2   -3
dtype: int64

In [38]:
float = [1.0, 2.0, 3.0]

In [39]:
float

[1.0, 2.0, 3.0]

In [40]:
float = pd.Series(float)

In [41]:
float

0    1.0
1    2.0
2    3.0
dtype: float64

In [50]:
data = {
    "fruits" : ['apple', 'orange', 'tomoto'],
   "vegitable" : ['brinjal', 'potate', 'mango' ]
}

In [51]:
data = pd.DataFrame(data)

In [52]:
data

   fruits vegitable
0   apple   brinjal
1  orange    potate
2  tomoto     mango

In [54]:
data

   fruits vegitable
0   apple   brinjal
1  orange    potate
2  tomoto     mango

In [56]:
data['fruits']

0     apple
1    orange
2    tomoto
Name: fruits, dtype: object

In [61]:
data['vegitable'][0]

'brinjal'

In [62]:
data['fruits'][1]

'orange'

In [65]:
data['fruits'][1] = 'jackfruit'

In [66]:
data['fruits']

0        apple
1    jackfruit
2       tomoto
Name: fruits, dtype: object

In [67]:
df = pd.read_csv('/home/dheena/My_learning/machine learning/customers-10000.csv')

In [68]:
df

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,26/08/2020,http://www.escobar.org/
1,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,27/04/2020,https://tyler-pugh.info/
2,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,22/03/2022,https://www.mack-bell.net/
3,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,02/07/2020,https://delacruz-freeman.org/
4,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,17/01/2021,https://welch.info/
...,...,...,...,...,...,...,...,...,...,...,...
9995,DD0caa06ebf217c,Meghan,Cline,Richardson LLC,Petersport,Cote d'Ivoire,001-270-136-4738x419,001-349-692-1755x055,nicolasandrade@bates.info,27/04/2022,http://thomas-ramos.com/
9996,C1C62ff90D0AfED,Jeremiah,Pena,Hodge-Nixon,Briggsport,Namibia,+1-531-494-7645x4844,001-295-324-5502x5411,tracy68@wade.com,17/01/2022,https://www.campbell.com/
9997,2EfAa6Fe435A7DA,Peggy,Key,Vang LLC,West Joyceport,United States Virgin Islands,520.109.2482x26052,+1-602-934-5901x95106,mclaughlinjulia@barnett-dorsey.com,13/01/2022,http://www.george-scott.com/
9998,5dB06C3Fab5CCCb,Evan,Humphrey,Gould Ltd,Camachochester,Niger,001-465-242-9979,001-639-955-2116x751,velazquezjessica@villegas-wilcox.com,14/04/2020,https://www.payne.info/
9999,9903e8fF4D8Ff0F,Melissa,Montgomery,Burns-Holden,Sparkstown,Tunisia,+1-889-682-9490x65400,423.632.2539x98740,ngallagher@martinez.com,27/06/2020,http://nixon.net/

In [70]:
df['Customer Id']

0       EB54EF1154C3A78
1       10dAcafEBbA5FcA
2       67DAB15Ebe4BE4a
3       6d350C5E5eDB4EE
4       5820deAdCF23EFe
             ...
9995    DD0caa06ebf217c
9996    C1C62ff90D0AfED
9997    2EfAa6Fe435A7DA
9998    5dB06C3Fab5CCCb
9999    9903e8fF4D8Ff0F
Name: Customer Id, Length: 10000, dtype: object

In [71]:
df['Customer Id'][2]

'67DAB15Ebe4BE4a'

In [72]:
df['First Name']

0        Heather
1       Kristina
2         Briana
3          Patty
4       Kathleen
          ...
9995      Meghan
9996    Jeremiah
9997       Peggy
9998        Evan
9999     Melissa
Name: First Name, Length: 10000, dtype: object

In [73]:
df['First Name'][2]

'Briana'

In [74]:
df['First Name'][2] = 'dheena'

In [75]:
df

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,26/08/2020,http://www.escobar.org/
1,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,27/04/2020,https://tyler-pugh.info/
2,67DAB15Ebe4BE4a,dheena,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,22/03/2022,https://www.mack-bell.net/
3,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,02/07/2020,https://delacruz-freeman.org/
4,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,17/01/2021,https://welch.info/
...,...,...,...,...,...,...,...,...,...,...,...
9995,DD0caa06ebf217c,Meghan,Cline,Richardson LLC,Petersport,Cote d'Ivoire,001-270-136-4738x419,001-349-692-1755x055,nicolasandrade@bates.info,27/04/2022,http://thomas-ramos.com/
9996,C1C62ff90D0AfED,Jeremiah,Pena,Hodge-Nixon,Briggsport,Namibia,+1-531-494-7645x4844,001-295-324-5502x5411,tracy68@wade.com,17/01/2022,https://www.campbell.com/
9997,2EfAa6Fe435A7DA,Peggy,Key,Vang LLC,West Joyceport,United States Virgin Islands,520.109.2482x26052,+1-602-934-5901x95106,mclaughlinjulia@barnett-dorsey.com,13/01/2022,http://www.george-scott.com/
9998,5dB06C3Fab5CCCb,Evan,Humphrey,Gould Ltd,Camachochester,Niger,001-465-242-9979,001-639-955-2116x751,velazquezjessica@villegas-wilcox.com,14/04/2020,https://www.payne.info/
9999,9903e8fF4D8Ff0F,Melissa,Montgomery,Burns-Holden,Sparkstown,Tunisia,+1-889-682-9490x65400,423.632.2539x98740,ngallagher@martinez.com,27/06/2020,http://nixon.net/

In [79]:
df = pd.read_json('/home/dheena/My_learning/machine learning/csvjson.json')

In [80]:
df

                               album  year US_peak_chart_post
0                  The White Stripes  1999                  -
1                           De Stijl  2000                  -
2                  White Blood Cells  2001                 61
3                           Elephant  2003                  6
4                Get Behind Me Satan  2005                  3
5                         Icky Thump  2007                  2
6  Under Great White Northern Lights  2010                 11
7                Live in Mississippi  2011                  -
8            Live at the Gold Dollar  2012                  -
9     Nine Miles from the White City  2013                  -

In [81]:
df['album']

0                    The White Stripes
1                             De Stijl
2                    White Blood Cells
3                             Elephant
4                  Get Behind Me Satan
5                           Icky Thump
6    Under Great White Northern Lights
7                  Live in Mississippi
8              Live at the Gold Dollar
9       Nine Miles from the White City
Name: album, dtype: object

In [82]:
df['album'][2] = 'dhee dhayalan'

/tmp/ipykernel_1309/3857366245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['album'][2] = 'dhee dhayalan'

In [83]:
df

                               album  year US_peak_chart_post
0                  The White Stripes  1999                  -
1                           De Stijl  2000                  -
2                      dhee dhayalan  2001                 61
3                           Elephant  2003                  6
4                Get Behind Me Satan  2005                  3
5                         Icky Thump  2007                  2
6  Under Great White Northern Lights  2010                 11
7                Live in Mississippi  2011                  -
8            Live at the Gold Dollar  2012                  -
9     Nine Miles from the White City  2013                  -

In [84]:
df = pd.read_html('/home/dheena/My_learning/machine learning/customers-10000.htm')

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.