In [6]:
import pandas as pd

In [11]:
data = ['dheena', 'arun', 'mani']
lables = ['first', 'second', 'third']

In [9]:
series = pd.Series(data)

In [10]:
series

0    dheena
1      arun
2      mani
dtype: object

In [27]:
series = pd.Series(data, index = lables)

In [28]:
series

first     dheena
second      arun
third       mani
dtype: object

In [29]:
series['first']

'dheena'

In [30]:
series['second']

'arun'

In [31]:
data = [1,2,3]

data2 = [4,5,6]

lables = ['first', 'second', 'third']

In [32]:
data = pd.Series(data)
data2 = pd.Series(data2)

In [33]:
data
data2

0    4
1    5
2    6
dtype: int64

In [34]:
data

0    1
1    2
2    3
dtype: int64

In [35]:
data2

0    4
1    5
2    6
dtype: int64

In [36]:
data2 - data

0    3
1    3
2    3
dtype: int64

In [37]:
data - data2

0   -3
1   -3
2   -3
dtype: int64

In [38]:
float = [1.0, 2.0, 3.0]

In [39]:
float

[1.0, 2.0, 3.0]

In [40]:
float = pd.Series(float)

In [41]:
float

0    1.0
1    2.0
2    3.0
dtype: float64

In [50]:
data = {
    "fruits" : ['apple', 'orange', 'tomoto'],
   "vegitable" : ['brinjal', 'potate', 'mango' ]
}

In [51]:
data = pd.DataFrame(data)

In [52]:
data

   fruits vegitable
0   apple   brinjal
1  orange    potate
2  tomoto     mango

In [54]:
data

   fruits vegitable
0   apple   brinjal
1  orange    potate
2  tomoto     mango

In [56]:
data['fruits']

0     apple
1    orange
2    tomoto
Name: fruits, dtype: object

In [57]:
data['vegitable']

0    brinjal
1     potate
2      mango
Name: vegitable, dtype: object